*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px 20px;
}
.wrapper div{
  display: flex;
  flex-direction: row;
  gap: 20px;
  border-radius: 20px;
  align-items: center;
  background: #9fe2eb;
  width: 250px;
  padding: 20px;
}
.wrapper .cardImage{
  width: 200px;
}
.wrapper div h3 {
  text-transform: lowercase;
  font-weight: 300;
}