*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px 20px;
}
.wrapper div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  align-items: center;
  background: #a9a6a6;
  width: 250px;
  padding: 20px;
}
.wrapper .cardImage{
  width: 240px;
}
.wrapper div h2{
  text-transform: uppercase;
}